body {
	overflow: hidden;
	background-color: black;
}

p1 {
	color: white;
	left: 15px;
	font-family: monospace;
	font-size: 15px;
	position: absolute;
	top:10px;;
}

p2 {
	color: #000;
	left: 40%;
	font-family: helvetica;
	font-size: 30px;
	position: absolute;
	top:50%;
}

canvas {
	left: 0;
	position: absolute;
	top: 0;
}

a{
	position: absolute;
}

.right{
	position: absolute;
	right: 10px;
}
