body {
	overflow: hidden;
	background-color: black;
}

.right{
	position: absolute;
	right: 10px;
}

p1 {
	color: white;
	left: 15px;
	font-family: monospace;
	font-size: 15px;
	position: absolute;
	top:10px;;
}

p2 {
	color: #000;
	left: 20px;
	font-family: helvetica;
	font-size: 30px;
	position: absolute;
	bottom:20px;;
}

canvas {
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0.25;
}

img{
	position: absolute;
	width: 1600px;
	top: 0px;
}

button{
	position: absolute;
	background-color: inherit;
	opacity: 0;
	color: white;
	font-size: 15px;
	width: 720px;
	height: 450px;

}

.pig{
	position: absolute;
	left: 0px;
	padding: 200px;
}

.cow2{
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 200px;
}

.cow{
	position: absolute;
	right: 0px;
	padding: 200px;
}

.trump{
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 200px;
}
